.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.vscode

**/*.rs.bk
/target
/extra
/archives
/resources
/libs
/bin
/Settings.toml
/.metadata.json
/.reading-states
/.fat32-epoch
/.thumbnail-previews
/.trash
/css/*-user.css
/hyphenation-patterns
/dictionaries
/dist
/bundle
/zeno-*.zip
/thirdparty/*/*
!/thirdparty/*/*kobo*
